<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
    <style>
        body {
            color: yellow;
            background-color: darkblue;
        }
    </style>
</head>
<body>

<!-- Show Player Events -->
<!-- Player ID -- Reason Done -->

<h1>Dealer Cards</h1>
<p th:each="card: ${gameView.dealerCards}" th:text="${card}">--</p>

<!-- Replace "Your" with player's ID (later: name) -->
<h1>Players ID: <span th:text="${gameView.playerId}">666</span> Cards</h1>
<p th:each="card: ${gameView.playerCards}" th:text="${card}">--</p>

<br/>
<h2>Hit or Stand?</h2>
<form action="/hit" method="post">
    <button value="HIT">Hit</button>
</form>
<form action="/stand" method="post">
    <button value="STAND">Stand</button>
</form>

</body>
</html>