<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
    <style>
        body {
            color: yellow;
            background-color: darkblue;
        }
    </style>
</head>
<body>
<h1>Game Over</h1>

<h1>Dealer Cards</h1>
<p th:each="card: ${gameOutcomeView.dealerCards}" th:text="${card}">--</p>


<!-- Show cards for ALL players -->
<div th:each="playerOutcome: ${gameOutcomeView.playerOutcomes}">
    <h1>Player <span th:text="${playerOutcome.playerId}" /> Cards</h1>

    <p th:each="card: ${playerOutcome.playerCards}" th:text="${card}">--</p>

    <h2>Outcome <span th:text="${playerOutcome.playerOutcome}" /></h2>
</div>

<br/>


</body>
</html>