<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
    <style>
        body {
            color: yellow;
            background-color: darkblue;
        }
    </style>
</head>
<body>
<h1>Game Over</h1>

<h1>Dealer Cards</h1>
<p th:each="card: ${gameView.dealerCards}" th:text="${card}">--</p>


<!-- Show cards for ALL players -->
<h1>Your Cards</h1>
<p th:each="card: ${gameView.playerCards}" th:text="${card}">--</p>

<br/>

<h1>Outcome</h1>

<!-- Show outcomes for ALL players -->
<h3 th:text="${outcome}">You win</h3>

</body>
</html>