<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
    <style>
        body {
            color: yellow;
            background-color: darkblue;
        }
    </style>
</head>
<body>

<h1>Dealer Cards</h1>
<p th:each="card: ${gameInProgressView.dealerCards}" th:text="${card}">--</p>
<!--<div>-->
<!--    <img th:src="@{/svg-cards/2_of_clubs.svg}" src="../static/svg-cards/2_of_clubs.svg" width="80"/>-->
<!--    <img th:src="@{/svg-cards/back_of_card.svg}" src="../static/svg-cards/back_of_card.svg" width="80"/>-->
<!--</div>-->
<p th:each="event: ${gameInProgressView.playerEvents}" th:text="${event}">--</p>

<!-- Replace player's ID with name -->
<h1>Player <span th:text="${gameInProgressView.playerId}">666</span>'s Cards</h1>
<p th:each="card: ${gameInProgressView.playerCards}" th:text="${card}">--</p>

<br/>
<h2>Hit or Stand?</h2>
<form action="/hit" method="post">
    <button value="HIT">Hit</button>
</form>
<form action="/stand" method="post">
    <button value="STAND">Stand</button>
</form>

</body>
</html>