<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Blackjack</title>
    <style>
        body {
            color: yellow;
            background-color: darkblue;
        }
    </style>
</head>
<body>

<!-- Show Player Events -->
<!-- Player ID -- Reason Done -->

<h1>Dealer Cards</h1>
<p th:each="card: ${gameInProgressView.dealerCards}" th:text="${card}">--</p>

<!-- Replace player's ID with name -->
<h1>Player <span th:text="${gameInProgressView.playerId}">666</span>'s Cards</h1>
<p th:each="card: ${gameInProgressView.playerCards}" th:text="${card}">--</p>

<br/>
<h2>Hit or Stand?</h2>
<form action="/hit" method="post" th:object="${command}">
    <input id="player" type="text" hidden th:field="*{playerId}">
    <button value="HIT">Hit</button>
</form>
<form action="/stand" method="post" th:object="${command}">
    <input id="player" type="text" hidden th:field="*{playerId}">
    <button value="STAND">Stand</button>
</form>

</body>
</html>