<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blackjack Game</title>
    <style>
        body {
            font-family: ".SF NS", sans-serif;
            color: yellow;
            background-color: darkblue;
        }
    </style>
</head>
<body>
<h1>Welcome to Blackjack!</h1>

<h3>To start playing, click START GAME</h3>


<form action="/create-game" method="post">
    <br/>
    <!-- Show players with checkboxes in a list -->
    <p th:each="player : ${playerSelectionForm.players}"
       th:text="| ${player.name()} - ${player.playerId()} |">names-id</p>
    <!-- Checkbox selected for players  -->
    PlayerIds:

    <div th:each="player : ${playerSelectionForm.players}">
        <input type="checkbox" th:field="" value="0">
        <label for="player-0">Player 0</label>
    </div>

    <input type="checkbox" id="player-1" name="playersPlaying" value="1">
    <label for="player-1">Player 1</label>

    <br/>
    <label for="customDeck">
        Custom Deck:
        <input type="text" value="" name="customDeck" id="customDeck" size="20">
    </label>
    <br/>
    <br/>
    <button type="submit">START GAME</button>
</form>

</body>
</html>